.container .table_container .table tbody tr td .btn1 {
    background-image: url('../images/blueCheck.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;

}

.container .table_container .table tbody tr td .btn2 {
    background-image: url('../images/blueX.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
}


.container .table_container .table tbody tr td .btn1:hover,
.container .table_container .table tbody tr td .btn2:hover {
<<<<<<< Updated upstream
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
=======
    /* background-color:#002ead;
	transition: 0.7s; */
    /* box-shadow: 0 0.5em 0.5em -0.4em var(--hover); */
>>>>>>> Stashed changes
    transform: translateY(-0.25em);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .imp_exp {
        width: 50px;
        height: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .table_container .table tr th {
        display: none;
    }


    .table {
        border: 0;
        width: -webkit-fill-available;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }



    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }

}