.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}

.container a {
	color: #3e65da;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
	text-align: center;

}

.container-item {
	/* height: 100vh; */
	padding: 1em;
	align-items: stretch;
}

.table {
	margin-bottom: 1em;
}


.left-column {
	width: 50%;
}

.container .container-item .table_container {
	width: 100%;
	box-sizing: border-box;
	/* padding: 20px; */
}

.container-item .table_container .table {
	width: 100%;
	border-collapse: collapse;

}

.container-item .table_container .table td,
.container-item .table_container .table th {
	padding: 12px 15px;
	border: 1px solid #2141a4;
	text-align: center;
	font-size: 16px;
}

.container-item .table_container .table th {
	background-color: #b9c1d6;
	color: #3e65da;
}

.category-link {
	width: 100%;
}

.container-item .table_container .table tbody tr td .btn {
	font-size: 16px;
	letter-spacing: 0.35px;
	font-weight: normal;
	color: #2141a4;
	text-decoration: none;
}

.container-item .table-container .table tbody tr td a:hover {
	text-decoration: underline;
	font-style: normal;
	color: #072067;
}

.container-item .table_container .table tbody {
	background-color: #7d92d3;
	color: #2141a4;
}

.selected-td {
	background-color: #3e65da;
	border-radius: 5px;
}

td:hover {
	background-color: #3e65da;
	border-radius: 5px;
}

td:hover a {
	color: #fff;
}

.selected-td a {
	color: #fff;
}

@media screen and (max-width: 768px) {
	.container {
		flex-direction: column;
	}

	.left-column {
		width: -webkit-fill-available;
	}
}