form .exercitii {
	font-size: x-large;
	font-weight: bold;
	color: white;
	background-color: #247cee;

	margin-top: 1em;
	margin-bottom: 2em;
	text-align: center;
	align-self: center;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	padding: 7px;
}


form .exercitii:hover {
	box-shadow: 0 12px 16px 0 rgba(51, 49, 143, 0.24), 0 17px 50px 0 rgba(51, 42, 146, 0.19);
}

.text-form {
	display: grid;
	grid-template-columns: 1fr;
}

input:focus {
	outline: none;
	border: 1px solid #03A9F4;
	box-shadow: 0 0 10px #03A9F4;
}


.text-form form {
	justify-self: center;
}