.container a {
	color: #3e65da;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}

.container-item {
	padding: 0.5em;
}

.container a:hover {
	text-decoration: underline;
	font-style: normal;
	color: #7d92d3;

}

.container .table-container {
	margin: 20px 20px 20px 20px;
}

.container .table-container .table {
	width: 100%;
	border-collapse: collapse;
}

.container .table-container .table thead {
	background-color: #b9c1d6;
	border: 1px solid #2141a4;

}

.container .table-container .table thead tr th {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.35px;
	color: #3e65da;
	opacity: 1;
	padding: 9px;
	vertical-align: top;
}

.container .table-container .table tbody tr td {
	background-color: #7d92d3;
	padding: 8px;
	border: 1px solid #2141a4;

}

.container .table-container .table tbody tr td .pb {
	font-size: 16px;
	letter-spacing: 0.35px;
	font-weight: normal;
	color: #2141a4;
	text-decoration: none;
}

.container .table-container .table tbody tr td a:hover {
	text-decoration: underline;
	font-style: normal;
	color: #072067;
}

.container a {
	color: #3e65da;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}

.container a:hover {
	text-decoration: underline;
	font-style: normal;
	color: #7d92d3;

}



@media screen and (max-width: 768px) {

	.container {
		flex-direction: column;
	}

	.table {
		border: 0;
		width: -webkit-fill-available;
	}

	table caption {
		font-size: 1.3em;
	}

	table thead {
		border: none;
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}



	table td {
		border-bottom: 1px solid #ddd;
		display: block;
		font-size: .8em;
		text-align: right;
	}

	table td::before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}

	table td:last-child {
		border-bottom: 0;
	}


}